body {
  font-family: sans-serif;
  font-size: 18px; }

.wrapper {
  display: flex;
  padding: 10px; }

.container {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; }

.card {
  width: calc(33% - 10px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 43px 1px rgba(34, 60, 80, 0.19); }
  .card-image {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden; }
    .card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%; }
    .card-image__id {
      width: 50%;
      height: 20px;
      padding: 2px 6px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0; }
      .card-image__id span {
        color: white;
        font-size: 16px; }
  .card__txt-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; }
  .card__heading, .card__txt {
    margin: 0 0 20px 0; }
  .card__heading {
    font-size: 20px; }
  .card-btn {
    height: 100%;
    margin: 30px 0 0 0; }
  .card__btn {
    padding: 10px 30px;
    background-color: orange;
    text-decoration: none;
    color: #fff;
    border-radius: 20px; }
    .card__btn:hover {
      background-color: darkorange; }
    .card__btn:active {
      background-color: orangered; }

.filter__heading {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  display: block; }
  .filter__heading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 44px;
    background-color: #fff; }
.filter-prop {
  width: 200px;
  height: 200px;
  overflow: auto;
  border-radius: 10px;
  margin: 0 0 10px 0;
  padding: 0;
  box-shadow: 0 0 43px 1px rgba(34, 60, 80, 0.19); }
  .filter-prop:last-child {
    margin: 0; }
  .filter-prop h3 {
    margin-top: 0; }
.filter-list {
  padding: 0 0 0 10px;
  margin: 0; }
  .filter-list__item {
    list-style-type: none; }

/*# sourceMappingURL=main-style.css.map */
