$gap: 10px;

body {
  font-family: sans-serif;
  font-size: 18px;
}

.wrapper {
  display: flex;
  padding: 10px;
}

.container {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
}

.card {
  width: calc(33% - 10px);
  //height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 10px;
  box-shadow: 0 0 43px 1px rgba(34, 60, 80, 0.19);

  &-image {
    width: 100%;
    height: 400px;
    position: relative;

    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    &__id {
      width: 50%;
      height: 20px;

      padding: 2px 6px;

      text-align: center;


      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;

      & span {
        color: white;
        font-size: 16px;

      }

    }
  }
  &__txt-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;
  }

  &__heading,
  &__txt {
    margin: 0 0 20px 0;
  }

  &__heading {
    font-size: 20px;
  }


  &-btn {
    height: 100%;
    margin: 30px 0 0 0;
  }

  &__btn {


    padding: 10px 30px;
    background-color: orange;


    text-decoration: none;
    color: #fff;

    border-radius: 20px;

    &:hover {
      background-color: darkorange;
    }

    &:active {
      background-color: orangered;
    }
  }
}


.filter {
  &-block {
    //width: 100%;
    //display: flex;
  }

  &__heading {
    padding: 10px 0 ;
    margin: 0;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    display: block;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 44px;
      background-color: #fff;
    }
  }

  &-prop {
    width: 200px;
    height: 200px;
    overflow: auto;

    //position: relative;

    border-radius: 10px;
    margin: 0 0 10px 0;
    padding: 0;
    box-shadow: 0 0 43px 1px rgba(34, 60, 80, 0.19);

    &:last-child {
      margin: 0;
    }

    & h3 {
      margin-top: 0;
    }


  }

  &-list {
    padding: 0 0 0 10px;
    margin: 0;
    &__item {
      list-style-type: none;
    }
  }
}